---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import Tag from "@/components/Tag.astro";
import { getUniqueTags } from "@/utils/getUniqueTags";
import { useTranslations } from "@/i18n";
import config from "@/config";

const posts = await getCollection("posts", ({ data }) => !data.draft);
const tags = getUniqueTags(posts);

const t = useTranslations(Astro.currentLocale ?? "en");
---

<BaseLayout title={`${t.nav.tags} | ${config.site.title}`}>
  <Header />

  <Breadcrumb />

  <Main pageTitle={t.pages.tagsTitle} pageDesc={t.pages.tagsDesc}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} />)}
    </ul>
  </Main>

  <Footer />
</BaseLayout>
