---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>주현수</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>
      <div class="flex gap-10">
        <!--<img-->
        <!--  src="https://lh3.googleusercontent.com/fife/ALs6j_HyXKZcHxwLMJTr1s4yDj99NNAE_R_2IBFDZHNRG1Hdsyb6Oine8DlaPbpKeTqEzWlYWUdH0N7SaUsGBXnPrg-sEYCA-mP1QQhDHBczUv8Lc_TW0cxV4B9l7Xo0aSZK4oenTa59o_JnhMT1FGjfE7onqsyeSHT2p3fgHV4Ubje0dKMBOF2S4Jb24FPW7S0BKO43wHefY6WWugmvGTk6zxrrDsQBEpPafHdkp9BP8MmmSG9paed7iA8BGkAY9HEVRWaXgqPQlnueemxGde38GkXOF1LDae4DBiHmuILN6YU801h3qN5fVepHLjU6jmkwT-zwNSaeScOQoi93LxxNkXaL3-nEwmY3aP3MfQ6cYsew22aiWK8C8fwMTVAjf4gFk4pwW40O5yQ9cMTJq-fme1hYhlgXcFXTkWRWCI7eXpKbJRAWJUbq4E8zxDWMe2RL4aSUfi_V3c2s-EQqtQTOFqFrLwicUgI_oF8W0JTqxaJXKrETSjfjRmXUYuWjgb1MLBDHRzaG2YeWVZf3dkl4ATS3-r9tYRfBpHxYYhUkud324vzPgbeMER3spDaKHWKcsLWvuCKIWfx0caDoabuyB92Dkt3bZ0rReM3mkDCEI_VPXunIViiiFoDYXlJ8s_AUnYXWO8se_uLUEYQWd7w62vHkTs6K7GwIaQVR3Ahj6U1XElC83q4KwYqsAeWYfBn5BeVQNEtGYVyfJlhlASXH_MWLL5esV_CKN-Mhzax3nZwUFsAsB0SG0ptj4_9KZjLoZXC75qcnCTTfMzFZY1Y36eve3b5q-2HT8HX1Oc_W4dfn2u7CkAr-p_cCAZ1Csmfq8S1suF9ta7D5qNv0sELNLV3N3zPZl2j8lMeC1-kJRBctTxuTU8iV3IlLWHdv4R4YrYQLQgMbjON4kwxhYjvMaZge1fYOh-Jz2m5CZ7gfqMLw9HNtOnlRr3Rigm2FUQgb0U08aJZfyDc=w2590-h1554-v0"-->
        <!--  alt="Hyunsu"-->
        <!--  class="rounded-full w-24 h-24 sm:w-32 sm:h-32" />-->
        <!--<img-->
        <!--  src="https://lh3.googleusercontent.com/fife/ALs6j_Hvxhw-T9i38BEm_v-yvgfo94FtJIfYPymgMqMgK8IdwomtGaI_DAul-AgI1A2R0MF-1G2niReFCNSUM8uoARp-hpzhJVJAcMhLd73zTTOZjBepi-acNsRNrb3x2aYt1Jsu-T8N7HG&#45;&#45;TN5p6vaLv_uYcLdgKnHU1UJLLo_jVAVsQ-eXaMX04MxmaqfUsyafjAMzk8C096AdHrLrp5KKcJIb-gHPQB6Sk5ECK9R2o9PUgMi0j0ACg9TAMrlrQyefeX5vPYwr3txtUyZFiITU_bRyFbyu4Uz3XlVqAfGmJCXnmhNvhP9DRXW7_BwUqMaDMlp2HI_jSGacBPqxLzNB-_fHOsQaNtQy1uJNfPo3eUyrd09iQ7G8S2ooVMly-VnO3grmE1eSQ1CVr_1gdr25n6IbpV_SRUSSZTcIakmUlo6IIyWFHGI0LtJL5zVUcfSJ8EQm4DrRqomd5tFnd7bwzpSsdSFCX7UPTpXoPpZk5ev0A5c4zOYdk3ff4kK9gig-Ycdq6haGvg00Zg_VikIHRoX98HbjIhiavNMpkR8oM8Pdo2qgM765gXOYEjLJ40iWwAD2AYKrnCBhiVi2t1PTCBnYvvYpP74quQ7fuoy7XlwT0P3f0glSUfer0aqMnQguBPnCG704TWEsmDvn19AdsEeT14YdnicZahLYBlYGs8IZX6bo1oQhR_5dRB4mOjDJ62prJssWHz1aho_5VW2kSAmUUPQ0tHEdohSKwQdtLt3ZDm3rf9uBat-q-yDDd1LEfnbYd9HQ7ACefPfJYSruWrpOcBINxSw5ifK8ErBASLSVJS_IA5OHQ0UzY80xokyrU1TCyE1NR6FmWnCGYrQGLTL30BmQtXK-XBtOiGhFHHX3CySu-gGs6hRHpSi5gN1qR3p_MIv7qAIAr7VIYMMxSQBC677-yiod2FtTlloXScSOKTajcBAmYbAusBHdz2ACs5dTbh7pQw9exEbcIAcIPqtuK4FgF0pa1DOfg4vfhDuI6FHwsf63WcIU7q7UxkU0J1800zIx6Jft1gKJqYpvQmPi4YGxWdLOzJygDmRwn7nlspOzGBRc1-5XhmsiT4TlOaepQ6vkBANFaui5mSc7PfH9UhxUTD3kz_MFyTHHkvPboGHpDjHzd3KonMQi_R8SKwOH_p9oWD2NL9KinBMhS62prkDDjjRp7KJbFoATpJFZZf0AMcsxMm646UsurGtuBcD7e3hfyNayFb2N1F7WJFoD5TUHjW8_f_6puuFOlsIWBFm7ItCRnmIQqiOUbk6GQevqQfeDQUoyZvOMHsf0vv-uid6C_Ne5qKVTWdyQJTrJzmjAHVON6iSFaklcYqjk9wHe0cT_wLjYd7oExHXeWg8X9GXVEPOtgDvz_1q6xhWZbC9c3ZAVrO_Ok5XxbZ7xutEQAU5gYnhQ0yl-P2mmx3uqkq5ISsKc3yGOIKGzWRsrdlP3-x8tXxx4iwYO9ZaXaCkfIN4DJiRKRbnO_2W412y53U35-YzIrK_A4YIcVZh2pHlcQIJUtMWcLNRK1ZcB2R-IyVtgxO8_B5FHoaN_vo5KHJPK4D0UKK2RL8u7w_s1MHc8bESE3QR9o4lrFa3qjX5zx2lYOM_TbU=w2338-h1786"-->
        <!--  alt="Hyunsu"-->
        <!--  class="rounded-full w-12 h-12 sm:w-28 sm:h-40" />-->

        <p>
          안녕하세요. 프론트엔드 엔지니어 입니다.<br />
          유닉스 철학의<br />
          • 작은 것이 아름답다.<br />
          • 각 프로그램은 한가지 역할만 잘 하도록 만들어라<br />
          를 바탕으로 사용자에게 좋은 가치를 제공 하도록 노력 합니다.
        </p>
      </div>
      <!--<p>-->
      <!--  Read the blog posts or check-->
      <!--  <LinkButton-->
      <!--    className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"-->
      <!--    href="https://github.com/satnaing/astro-paper#readme"-->
      <!--  >-->
      <!--    README-->
      <!--  </LinkButton> for more info.-->
      <!--</p>-->
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
