---
import Datetime from "./Datetime";
import type { BlogFrontmatter } from "@content/schemas";

export interface Props {
  href?: string;
  frontmatter: BlogFrontmatter;
  secHeading?: boolean;
}

const { href, frontmatter, secHeading } = Astro.props;

const { title, publishDatetime, description } = frontmatter;
---

<li class="card-container">
  <a href={href} class="card-link">
    {
      secHeading ? (
        <h2 class="card-heading">{title}</h2>
      ) : (
        <h3 class="card-heading">{title}</h3>
      )
    }
  </a>
  <Datetime datetime={publishDatetime} />
  <p>{description}</p>
</li>

<style>
  .card-container {
    @apply my-6;
  }
  .card-link {
    @apply text-skin-accent font-medium text-lg underline-offset-4 decoration-dashed focus-visible:no-underline focus-visible:underline-offset-0 inline-block;
  }
  .card-heading {
    @apply font-medium text-lg decoration-dashed hover:underline;
  }
</style>
