---
import Datetime from "@components/Datetime";
import type { BlogFrontmatter } from "@content/_schemas";

export interface Props {
  href?: string;
  frontmatter: BlogFrontmatter;
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props;

const { title, pubDatetime, description } = frontmatter;
---

<li class="list-card">
  <a href={href} transition:name={title}>
    {secHeading ? <h2>{title}</h2> : <h3>{title}</h3>}
  </a>
  <Datetime datetime={pubDatetime} />
  <p>{description}</p>
</li>
