---
import { LOGO_IMAGE, SITE } from "@config";
import LinkButton from "./LinkButton.astro";
import { Image } from "astro:assets";
import TitleImage from "../assets/images/title-page.jpg";

export interface Props {
  activeNav?: string;
}

const { activeNav } = Astro.props;
---

<header>
  <div class="nav-container">
    <div class="top-nav-wrap bg-gradient-to-r from-blue-100 to-blue-600">
      <div>
        <a href="/" class="logo whitespace-nowrap">
          {
            LOGO_IMAGE.enable ? (
              <div class="flex items-center space-x-2">
                <img
                  src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
                  alt={SITE.title}
                  width={LOGO_IMAGE.width}
                  height={LOGO_IMAGE.height}
                />
                <p class="text-blue-900">{SITE.title}</p>
              </div>
            ) : (
              SITE.title
            )
          }
        </a>
      </div>

      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none text-blue-200 sm:flex">
          <li>
            <a href="/lunch" class={activeNav === "lunch" ? "active" : ""}>
              Mittagskarte
            </a>
          </li>
          <li>
            <a href="/menu" class={activeNav === "menu" ? "active" : ""}>
              Speisen
            </a>
          </li>
          <li>
            <a href="/drinks" class={activeNav === "drinks" ? "active" : ""}>
              Getränke
            </a>
          </li>
          <li>
            <a href="/about" class={activeNav === "about" ? "active" : ""}>
              Über uns
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="mx-auto flex items-center justify-center">
    <div class="relative flex max-w-6xl">
      <Image
        class="hidden sm:block"
        src={TitleImage}
        widths={[256, 512, 768, 1024, 2048]}
        alt="Willkommen im Restaurant Rhodos!"
      />
    </div>
  </div>
</header>

<style>
  .nav-container {
    @apply mx-auto flex max-w-6xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply hover:text-blue-900 w-full px-4 py-3 text-center font-medium sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply text-blue-200 underline;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>
<script>
  // Toggle menu
  const menuBtn = document.querySelector(".hamburger-menu");
  const menuIcon = document.querySelector(".menu-icon");
  const menuItems = document.querySelector("#menu-items");

  menuBtn?.addEventListener("click", () => {
    const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
    menuIcon?.classList.toggle("is-active");
    menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
    menuBtn.setAttribute(
      "aria-label",
      menuExpanded ? "Open Menu" : "Close Menu"
    );
    menuItems?.classList.toggle("display-none");
  });
</script>
