---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types";

export interface Props {
  post: MarkdownInstance<Frontmatter>;
}

const { frontmatter, Content } = Astro.props.post;

const { title, author, description, ogImage, datetime, tags } = frontmatter;

const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin)
  .href;
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
  <Header />
  <div class="max-w-3xl mx-auto w-full px-2 flex justify-start">
    <button
      class="mt-8 mb-2 hover:opacity-75 flex focus-outline"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <Datetime datetime={datetime} size="lg" className="my-2" />
    <article id="article" role="article" class="mx-auto max-w-3xl mt-8 prose">
      <Content />
    </article>

    <ul class="tags-container">
      {tags.map(tag => <Tag name={tag} />)}
    </ul>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply max-w-3xl mx-auto px-4 pb-12 w-full;
  }
  .post-title {
    @apply font-semibold text-2xl text-skin-accent;
  }
  .tags-container {
    @apply my-8;
  }
</style>
